.cont {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 0 auto;
  align-items: center;
}
.block {
  width: 50px;
  height: 50px;
  background-color: red;
  margin: 0 auto;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
}
.rotation {
  animation: rotation 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
